

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    @*アプリ名*@
    <nav class="navbar navbar-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">B2CMyApp</a>
    </nav>
    <div class="collapse navbar-collapse justify-content-end">
        @*右横*@
        <ul class="navbar-nav">

            @*認証されているとき*@
            @if ( User.Identity.IsAuthenticated ) {
                <li class="nav-link">
                    <a asp-controller="Account" asp-action="EditProfile"> @User.Identity.Name</a>
                </li>
                <li class="nav-link">
                    <a asp-controller="Account" asp-action="SignOut">ログアウト</a>
                </li>
            } else {
                <li class="nav-link justify-content-end">
                    <a asp-controller="Account" asp-action="Signin">ログイン</a>
                </li>
            }

        </ul>
    </div>
</nav>


